<h1>URL Shortener</h1>

<form method = "post" action = "/shortenURL">

<label>What URL would you like to shorten?</label>

<input type = 'text' name = "urlInput"><br>

<label>What would like to call it?</label>

<input type = 'text' name = "newURL">

<input type = 'submit' value = 'Shorten!'>

</form>
